# standard
dataclasses

# progress bars
tqdm

# math/plotting
scipy
numpy
matplotlib
numba

# data storage
h5py

# documentation
sphinx
sphinx-autobuild
sphinxcontrib-bibtex

# linting and formatting
flake8
black
isort

# type checking
mypy

# testing
pytest
pytest-cov
