# standard
dataclasses

# math/plotting
scipy
numpy
matplotlib
numba

# documentation
sphinx
sphinx_rtd_theme
sphinx-autobuild
sphinxcontrib-bibtex

# linting and formatting
flake8
black
isort

# type checking
mypy

# testing
pytest
pytest-cov
